.logoPage {
  padding-top: 20px;
}
.Info {
  margin-top: 40%;
  margin-bottom: 0;
}

h1 {
  font-size: 90px;
  font-family: 'Lobster', cursive;
  text-align: center;
}

.event {
  margin: 1rem auto;
}