.logoPage img{
  padding-top: 20px;
  width: 90px;
  height: 110px;
}
.Info {
  margin-top: 40%;
  margin-bottom:0;
  text-align: center;
}

h1 {
  font-size: 90px;
  font-family: 'Lobster', cursive;
  text-align: center;
}
